.featured{
  width: 100%;
  max-width: 2500px;
  display: flex;
  justify-content: space-between;
  gap: 200px;
  z-index: 0;
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 800px;
  flex:1
}



.featuredImg{
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.featuredTitles{
  position: absolute;
  bottom: 100px;
  left: 200px;
  color: rgb(12, 12, 12);
  font-size: 36px;
  align-items: center;
}
